[workspace]
members = [
    "crates/client",
    "crates/logging",
    "crates/shim-protos",
    "crates/shim",
    "crates/snapshots",
    "crates/runc",
    "crates/runc-shim",
]

[profile.release]
# Keep binary as small as possible
# https://doc.rust-lang.org/book/ch09-01-unrecoverable-errors-with-panic.html
panic = 'abort'
