[package]
name = "containerd-shim"
version = "0.3.0"
authors = ["Maksym Pavlenko <pavlenko.maksym@gmail.com>", "The containerd Authors"]
keywords = ["containerd", "shim", "containers"]
description = "containerd shim extension"

edition.workspace = true
license.workspace = true
repository.workspace = true
homepage.workspace = true

[features]
async = ["tokio", "containerd-shim-protos/async", "async-trait", "futures", "signal-hook-tokio"]

[[example]]
name = "skeleton_async"
required-features = ["async"]

[dependencies]
go-flag = "0.1.0"
thiserror = "1.0"
log = { version = "0.4", features = ["std"] }
libc = "0.2.95"
nix = "0.26"
command-fds = "0.2.1"
lazy_static = "1.4.0"
time = { version = "0.3.7", features = ["serde", "std"] }
serde_json = "1.0.78"
serde_derive = "1.0.136"
serde = "1.0.136"
signal-hook = "0.3.13"
oci-spec = "0.6.0"
prctl = "1.0.0"
page_size = "0.5.0"
regex = "1"

containerd-shim-protos = { path = "../shim-protos", version = "0.2.0" }

async-trait = { workspace = true, optional = true }
tokio = { workspace = true, features = ["full"], optional = true }
futures = { workspace = true, optional = true}
signal-hook-tokio = { version = "0.3.1", optional = true, features = ["futures-v0_3"]}

[target.'cfg(target_os = "linux")'.dependencies]
cgroups-rs = "0.2.9"

[dev-dependencies]
tempfile = "3.0"
