name: CI
on: [push, pull_request]

jobs:
  checks:
    name: Checks
    runs-on: ${{ matrix.os }}
    timeout-minutes: 15

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]

    steps:
      - uses: actions/checkout@v3
      - run: cargo check --examples --tests --all-targets
      - run: cargo check --examples --tests --all-targets --all-features
      - run: cargo fmt --all -- --check --files-with-diff
      - run: cargo clippy --all-targets -- -D warnings
      - run: cargo clippy --all-targets --all-features -- -D warnings

  tests:
    name: Tests
    runs-on: ${{ matrix.os }}
    timeout-minutes: 15

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]

    steps:
      - uses: actions/checkout@v3
      - env:
          # runc::tests::test_exec needs $XDG_RUNTIME_DIR to be set
          XDG_RUNTIME_DIR: /tmp/dummy-xdr
        run:
        # runc-shim::cgroup::test_add_cgroup needs root permission to set cgroup
          |
          mkdir -p /tmp/dummy-xdr
          sudo -E $(command -v cargo) test
          sudo -E $(command -v cargo) test --all-features

  deny:
    name: Deny
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v3
      - uses: EmbarkStudios/cargo-deny-action@v1

  integration:
    name: Integration
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30

    strategy:
      matrix:
        os: [ubuntu-latest]
        containerd: [v1.5.9, v1.6.0]

    steps:
      - name: Checkout extensions
        uses: actions/checkout@v2

      - name: Install shim
        run: |
          cargo build --release --bin containerd-shim-runc-v2-rs
          sudo install -D ./target/release/containerd-shim-runc-v2-rs /usr/local/bin/

      - uses: actions/setup-go@v2
        with:
          go-version: '1.17.5'

      # This step is required for containerd v1.5.x and below
      - name: Setup GOPATH
        shell: bash
        run: |
          echo "GOPATH=${{ github.workspace }}" >> $GITHUB_ENV
          echo "${{ github.workspace }}/bin" >> $GITHUB_PATH

      - name: Checkout containerd
        uses: actions/checkout@v2
        with:
          repository: containerd/containerd
          path: src/github.com/containerd/containerd
          ref: ${{ matrix.containerd }}

      - name: Install containerd
        env:
          GOFLAGS: -modcacherw
          CGO_ENABLED: 1
        run: |
          # Install containerd dependencies first
          sudo apt-get install -y gperf
          sudo -E PATH=$PATH script/setup/install-seccomp
          sudo -E PATH=$PATH script/setup/install-runc
          sudo -E PATH=$PATH script/setup/install-cni $(grep containernetworking/plugins go.mod | awk '{print $2}')
          # Install containerd
          make bin/containerd GO_BUILD_FLAGS="-mod=vendor" BUILDTAGS="no_btrfs"
          sudo -E PATH=$PATH install bin/containerd /usr/local/bin/
        working-directory: src/github.com/containerd/containerd

      - name: Integration
        env:
          GOPROXY: direct
          TEST_RUNTIME: "io.containerd.runc.v2-rs"
        run: sudo -E PATH=$PATH TESTFLAGS_PARALLEL=1 make integration TESTFLAGS_RACE=-race EXTRA_TESTFLAGS=-no-criu
        working-directory: src/github.com/containerd/containerd
